@model IEnumerable<MiPrimeraSolucion.Abstracciones.Modelos.Clientes.ClienteDto>

@{
    ViewBag.Title = "ObtenerTodosLosClientes";
}

<h2>ObtenerTodosLosClientes</h2>

<p>
    @Html.ActionLink("Create New", "AgregarCliente")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrimerApellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SegundoApellido)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Correo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaDeRegistro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FechaDeModificacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrimerApellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SegundoApellido)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaDeRegistro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FechaDeModificacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.ActionLink("Editar", "EditarCliente", new { id=item.Id }) |
            @Html.ActionLink("Detalles", "Detalles", new { id=item.Id }) |
            @Html.ActionLink("Eliminar", "EliminarCliente", new { id=item.Id })
        </td>
    </tr>
}

</table>
